@font-face {
  font-family: "Avenir Regular";
  src: url(../assets/fonts/AvenirNextLTPro-Regular.woff2) format("woff2"), url(../assets/fonts/AvenirNextLTPro-Regular.woff) format("woff");
}
@font-face {
  font-family: "Avenir Demi";
  src: url(../assets/fonts/AvenirNextLTPro-Demi.woff2) format("woff2"), url(../assets/fonts/AvenirNextLTPro-Demi.woff) format("woff");
}
@font-face {
  font-family: "Avenir Bold";
  src: url(../assets/fonts/AvenirNextLTPro-Bold.woff2) format("woff2"), url(../assets/fonts/AvenirNextLTPro-Bold.woff) format("woff");
}
@font-face {
  font-family: "Avenir Thin";
  src: url(../assets/fonts/AvenirNextLTPro-Thin.woff2) format("woff2"), url(../assets/fonts/AvenirNextLTPro-Thin.woff) format("woff");
}
.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.header__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .header__wrapper {
    max-width: 1439px;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0rem;
  }
}
@media screen and (min-width: 1440px) {
  .header__wrapper {
    max-width: 1439px;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0rem;
  }
}
.header__logo {
  width: 8rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .header__logo {
    padding-bottom: 0rem;
  }
}
@media screen and (min-width: 1440px) {
  .header__logo {
    width: 15rem;
    padding-left: 5rem;
  }
}
.header__form {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .header__form {
    margin-left: 8rem;
    padding-top: 1rem;
    margin-right: 1rem;
  }
}
@media screen and (min-width: 1440px) {
  .header__form {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    margin-left: 34rem;
  }
}
.header__searchbar {
  width: 100%;
  height: 3.5rem;
  background-image: url("../assets/images/Icon-search.svg");
  background-position: 1rem 1rem;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  margin-bottom: 12px;
  background-color: #FAFAFA;
}
@media screen and (min-width: 768px) {
  .header__searchbar {
    width: 15rem;
    height: 3.5rem;
  }
}
@media screen and (min-width: 1440px) {
  .header__searchbar {
    width: 20rem;
    height: 3.5rem;
  }
}
.header__navbar {
  display: flex;
  justify-content: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .header__navbar {
    justify-content: baseline;
  }
}
@media screen and (min-width: 1440px) {
  .header__navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}
.header__btn {
  font-family: "Avenir Regular";
  font-size: 1rem;
  font-weight: 500;
  height: 3.5rem;
  margin-right: 1rem;
  width: 17rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #0095FF;
  color: white;
}
@media screen and (min-width: 768px) {
  .header__btn {
    width: 8rem;
  }
}
.header__btn-upload {
  padding-right: 1rem;
}
.header__profilepic {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
}
.header__profileimg {
  height: 4rem;
  width: 4rem;
}

.video-list {
  padding-top: 3rem;
}
@media screen and (min-width: 768px) {
  .video-list {
    max-width: 50%;
  }
}
@media screen and (min-width: 1440px) {
  .video-list {
    max-width: 50%;
    padding-right: 5rem;
    border-left: 3px solid #E1E1E1;
  }
}
.video-list__next {
  font-family: "Avenir Demi";
  font-size: 1rem;
  color: #AFAFAF;
  padding-left: 1rem;
  padding-bottom: 3rem;
}
.video-list__results {
  padding-left: 1rem;
  list-style: none;
}
.video-list__list {
  display: flex;
  padding-bottom: 2rem;
}
.video-list__thumbnail {
  max-width: 10rem;
  height: 6rem;
  overflow: hidden;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.video-list__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.video-list__headers {
  padding-left: 1.5rem;
}
.video-list__title {
  font-family: "Avenir Demi";
  padding-right: 1rem;
}
.video-list__channel {
  font-family: "Avenir Regular";
  font-weight: 100;
  font-size: 1rem;
  padding-top: 1rem;
}

.upload-page {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
}
@media screen and (min-width: 1440px) {
  .upload-page {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}
.upload-page__title {
  font-family: "Avenir Bold";
  font-size: 2rem;
  color: #323232;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .upload-page__title {
    font-size: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .upload-page__divider {
    border-bottom: 2px solid #E1E1E1;
    padding-top: 0.5rem;
  }
}
@media screen and (min-width: 1440px) {
  .upload-page__desktop-wrapper {
    display: flex;
  }
}
.upload-page__thumbnail {
  width: 100%;
  padding-bottom: 2rem;
}
@media screen and (min-width: 1440px) {
  .upload-page__thumbnail {
    max-width: 50%;
    margin-right: 0rem;
  }
}
.upload-page__thumbnail-title {
  font-family: "Avenir Demi";
  font-size: 1rem;
  color: #AFAFAF;
}
@media screen and (min-width: 768px) {
  .upload-page__thumbnail-title {
    padding-top: 3rem;
    padding-bottom: 0.5rem;
  }
}
.upload-page__thumbnail-img {
  max-width: 100%;
  border-radius: 0.5rem;
}
@media screen and (min-width: 768px) {
  .upload-page__thumbnail-img {
    width: 60%;
  }
}
@media screen and (min-width: 1440px) {
  .upload-page__thumbnail-img {
    max-width: 100%;
  }
}
.upload-page__input {
  padding-bottom: 2rem;
}
.upload-page__video-title {
  font-family: "Avenir Demi";
  font-size: 1rem;
  color: #AFAFAF;
}
@media screen and (min-width: 1440px) {
  .upload-page__video-title {
    margin-top: 3rem;
    margin-right: 30rem;
  }
}
.upload-page__video-title-form {
  width: 100%;
  height: 3.5rem;
  font-size: 16px;
  padding: 18px 20px 12px 12px;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  margin-bottom: 12px;
  background-color: #FAFAFA;
  font-family: "Avenir Regular";
  font-size: 1.25rem;
  color: black;
}
@media screen and (min-width: 768px) {
  .upload-page__video-title-form {
    padding: 18px 20px 12px 20px;
  }
}
@media screen and (min-width: 1440px) {
  .upload-page__video-title-form {
    margin-top: 1rem;
  }
}
.upload-page__video-description {
  font-family: "Avenir Demi";
  font-size: 1rem;
  color: #AFAFAF;
  padding-top: 0.5rem;
}
.upload-page__video-description-form {
  width: 100%;
  height: 9em;
  font-size: 16px;
  padding: 20px 20px 12px 12px;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  margin-bottom: 12px;
  background-color: #FAFAFA;
  font-family: "Avenir Regular";
  font-size: 1.25rem;
  color: black;
}
@media screen and (min-width: 768px) {
  .upload-page__video-description-form {
    padding: 18px 20px 12px 20px;
  }
}
@media screen and (min-width: 768px) {
  .upload-page__btn-wrapper {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 3rem;
  }
}
.upload-page__publish-btn {
  font-family: "Avenir Demi";
  font-size: 1rem;
  font-weight: 500;
  height: 3.5rem;
  margin-right: 1rem;
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  background-color: #0095FF;
  color: white;
}
@media screen and (min-width: 768px) {
  .upload-page__publish-btn {
    font-size: 1.25rem;
    height: 4rem;
    width: 13rem;
    margin-right: 0rem;
  }
}
.upload-page__cancel-btn {
  font-family: "Avenir Demi";
  font-size: 1rem;
  font-weight: 500;
  height: 3.5rem;
  margin-right: 1rem;
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  background-color: white;
  color: #0095FF;
}
@media screen and (min-width: 768px) {
  .upload-page__cancel-btn {
    font-size: 1.25rem;
    height: 4rem;
    width: 13rem;
    margin-right: 0rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 1440px) {
  .desktop-wrapper {
    display: flex;
  }
}/*# sourceMappingURL=main.css.map */