.heroabout{

    &__title{
        font-family: "Avenir Bold";
        padding-top: 2rem;
        padding-left: 1rem;
        padding-bottom: 1rem;
        font-size: 2rem;
        opacity: 80%;
    }

    &__info{
        display: flex;
        padding-left: 1rem;
        padding-bottom: 1rem;
    }

    &__channel{
        font-family: "Avenir Bold";
        opacity: 80%;
    }

    &__timestamp{
        font-family: "Avenir Thin";
        padding-left: 1rem;
        color: $silver;
    }

    &__counters{
        display: flex;
        flex-direction: row;
        align-items: left;
    }

    &__views-img{
        min-width: 2.5rem;
        padding-left: 1rem;
    }

    &__views-counter{
        font-family: "Avenir Thin";
        padding-left: 1rem;
    }

    &__likes-img{
        min-width: 2.5rem;
        padding-left: 1.25rem;
    }

    &__likes-counter{
        font-family: "Avenir Thin";
        padding-left: 1rem;
    }

    &__divider{
        border-bottom: 2px solid $mercury;
        margin-left: 1rem;
        padding-bottom: 2rem;
        width: 90%;
    }

    &__description{
        font-family: "Avenir Regular";
        padding-top: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        line-height: 1.25rem;
    }
}