// <--- COLOR PALETTE --->
$black: #323232;
$instock-blue: #004892;
$brainflix-blue: #0095FF;
$brainflix-blue2: #0065AD;
$white: #FFFFFF;
$silver: #AFAFAF;
$instock-blue-dark: #002F5F;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;

// <--- BREAKPOINTS --->
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1440px;